name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::<ACCOUNT_ID>:role/github-actions
        aws-region: ap-south-1

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push
      run: |
        docker build -t backend .
        docker tag backend:latest <ACCOUNT_ID>.dkr.ecr.ap-south-1.amazonaws.com/backend:latest
        docker push <ACCOUNT_ID>.dkr.ecr.ap-south-1.amazonaws.com/backend:latest

    - name: Deploy to EKS
      run: |
        aws eks update-kubeconfig --name devops-eks
        kubectl apply -f k8s/
